<!DOCTYPE html>
<html>
  <head>
    <title>Agregar persona</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Agregar persona</h1>
    <form action="/agregar" method="post">
      <input type="text" name ="nombre" placeholder="Nombre">
      <input type="email" name ="email" placeholder="E mail">
      <button type = "submit">Agregar</button>
    </form>
      
  </body>
</html>
